# SERVER BINDING
WEB_HOST=0.0.0.0
WEB_BIND_HOST=0.0.0.0
WEB_PUBLIC_HOST=0.0.0.0
WEB_PORT=5000

# API Endpoints
API_BASE_URL=https://api.hivision.vn/
DEV_MODE=True
API_USERNAME=admin_cloud
API_PASSWORD=secret_cloud

# POLLING SETTINGS
POLL_INTERVAL=10
SNAPSHOT_INTERVAL=300
CONFIG_REFRESH_INTERVAL=300

# COMMUNICATION (MODBUS DEFAULTS)
DRIVER=Huawei
COMM_TYPE=TCP
MODBUS_TCP_HOST=192.168.1.8
MODBUS_TCP_PORT=502
MODBUS_PORT=/dev/ttyUSB0
MODBUS_BAUDRATE=9600
DATABITS=8
PARITY=N
STOPBITS=1
TIMEOUT=1.0
SLAVE_ID_START=1
SLAVE_ID_END=30
RETRIES=1

# MQTT (Control Scheduling & Telemetry)
MQTT_BROKER=14.224.236.53
MQTT_PORT=1883
MQTT_USERNAME=admin
MQTT_PASSWORD=@Dm!n

# LOCAL AUTH (WEB UI)
SECRET_KEY=hirubic_local_secret_key_change_me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=10080
